@import "{}/imports/ui/stylesheets/not-found.scss";
// @import '../node_modules/bootstrap/scss/bootstrap'; // using more stable and custome version of bootstrap
body,html{
    height: 100%;
    background-color: #f1efef; 
}
.login-form{
    height: 100vh;
}

