<template name="code_login">
    <div class="login-form d-flex align-items-center flex-column justify-content-center h-100">
        <h3>Welcome</h3>
        <p>Enter your code to get started!</p>
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Survey code</label>
                <input type="email" class="form-control form-control-lg" id="exampleInputEmail1" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">This code should have been sent to you by your tutor.</small>
            </div>
            <button type="submit" class="btn btn-primary mx-auto d-block">Launch Survey</button>
        </form>
        <br/>
        <p>Are you a tutor? <a href="{{pathFor 'tutor-login'}}">Login here</a></p>
    </div>
</template>