<template name="survey">
    <div style="width: 100%; padding: 20px;">
        {{#if showSuccessPage}}
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="icon-box">
                        <i class="material-icons">&#xE876;</i>
                    </div>				
                    <h4 class="modal-title w-100">Success!</h4>	
                </div>
                <div class="modal-body-top">
                    <p class="text-center"> Thank you for completing the survey!</p>
                </div>
                <div class="modal-body">
                    <p class="text-center">You will receive correspondence from your tutor soon about your group placement. Please check your email regularly!</p>
                </div>
                <a href="/" class="gotohomepage">Go to home</a>
            </div>
        </div>
        {{else}}
        <h3>Student Survey: "{{surveyData.surveyName}}"</h3>
        <p>You are accessing a survey with code: {{surveyCode}}</p>
        
        <form id="studentSurveyForm">
            <div >
                <hr />
                <br />
                <div class="col-md-12 mb-3 p-0">
                    <label class="p-0" for="basic-url">Contact Details</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">Full name:</span>
                        </div>
                        <input type="text" class="form-control" name="fullName" id="fullName" aria-describedby="basic-addon3">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">Contact email:</span>
                        </div>
                        <input type="text" class="form-control" name="contactEmail" id="contactEmail" aria-describedby="basic-addon3">
                    </div>
                </div>

                <div class="col-sm-12 col-md-12 mb-3">
                    {{#each surveyData.questions}}
                        {{> surveyQuestion}}
                    {{/each}}
                </div>
                {{> stateful_submit buttonType="submit" buttonText="Submit Survey" loading=isLoading}}
                <br />
                <hr />
            </div>
        </form>
        {{/if}}
    </div>
</template>

<template name="surveyQuestion">
        <div class="row" style="text-align: center;">
            <div class="col-12 p-0" style="font-weight: bold;">
                <label class="p-0" for="importanceValue">{{question}}</label>
            </div>
            <div class="input-group mb-3">
                <div class="col-sm-4 p-0 col-md-3 col-lg-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Strongly Disagree</span>
                    </div>
                </div>
                <div class="col-sm-3 p-0 my-auto mr-1 col-md-5 col-lg-6 mx-lg-auto" >
                    <!-- <input type="number" max="10" min="0" class="form-control" id="basic-url" aria-describedby="basic-addon3"> -->
                    <input type="range" min="1" max="100" class="form-control-range" name={{_id}} id={{_id}}>
                </div>
                <div class="col-sm-1 p-0 mr-2 col-md-1">
                    <div class="input-group-append">
                        <span class="input-group-text bg-info"> 
                            <strong id="importanceValueDisplay" style="color: #FFF;">{{sliderVal}}</strong> 
                        </span>
                    </div>
                </div>
                <div class="col-sm-1 p-0 col-md-2">
                    <div class="input-group-append">
                        <span class="input-group-text">Strongly Agree</span>
                    </div>
                </div>
            </div>
        </div>
</template>