<template name="App_body">
  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
<body id="page-top" style="background: #E0E0E0;">

{{> navbar}}

<div class="container d-flex align-items-center flex-column" style="padding-top: 100px; width: 100%; height: 100%; margin-top: 39px;">
  {{> Template.dynamic template=main}}
</div>
</body>
</template>
